<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets async="true">
		<!-- 注意这里并没有开启bufferSize，上线要关闭Debug日志 -->
		<target name="ServerDebug" xsi:type="File"
				openFileCacheTimeout="30"
				keepFileOpen="true"
				fileName="${basedir}/../Logs/${logger}.${date:format=yyyyMMddHH}.Debug.log"
				deleteOldFileOnStartup="false"
				layout="${longdate} ${callsite:className=false:methodName=false:fileName=true:includeSourcePath=false:skipFrames=2} ${message}" />
	</targets>

	<targets async="true">
		<target name="ServerInfo" xsi:type="File"
				bufferSize="10240"
				openFileCacheTimeout="30"
				keepFileOpen="true"
				fileName="${basedir}/../Logs/${logger}.${date:format=yyyyMMddHH}.Info.log"
				deleteOldFileOnStartup="false"
				layout="${longdate} ${message}" />
	</targets>

	<targets async="true">
		<target name="ServerWarn" xsi:type="File"
				bufferSize="10240"
				openFileCacheTimeout="30"
				keepFileOpen="true"
				fileName="${basedir}/../Logs/${logger}.${date:format=yyyyMMddHH}.Warn.log"
				deleteOldFileOnStartup="false"
				layout="${longdate} ${message}" />
	</targets>

	<targets async="true">
		<target name="ServerError" xsi:type="File"
				openFileCacheTimeout="10"
				keepFileOpen="true"
				fileName="${basedir}/../Logs/${logger}.${date:format=yyyyMMddHH}.Error.log"
				deleteOldFileOnStartup="false"
				layout="${longdate} ${callsite:className=false:methodName=false:fileName=true:includeSourcePath=false:skipFrames=2} ${message}" />
	</targets>

	<targets async="true">
		<target name="ErrorConsole" xsi:type="Console" layout="${longdate} ${message}" />
	</targets>

	<targets async="true">
        <target name="ConsoleColor" xsi:type="ColoredConsole"
                useDefaultRowHighlightingRules="false"
                layout="${longdate} ${message}">
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGreen" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="DarkRed" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
        </target>
    </targets>

	<rules>
		<!-- 控制台 调试或编辑器启动的时候会调用-->
        <logger ruleName="ConsoleTrace" name="Server" level="Trace" writeTo="ConsoleColor" />
        <logger ruleName="ConsoleDebug" name="Server" level="Debug" writeTo="ConsoleColor" />
        <logger ruleName="ConsoleInfo" name="Server" level="Info" writeTo="ConsoleColor" />
        <logger ruleName="ConsoleWarn" name="Server" level="Warn" writeTo="ConsoleColor" />
        <logger ruleName="ConsoleError" name="Server" level="Error" writeTo="ConsoleColor" />
        <!-- 服务端日志输出文件 发布到服务器后会调用-->
		<logger ruleName="ServerDebug" name="*" minlevel="Trace" maxlevel="Error" writeTo="ServerDebug" />
		<logger ruleName="ServerInfo" name="*" minlevel="Info" maxlevel="Info" writeTo="ServerInfo" />
		<logger ruleName="ServerWarn" name="*" minlevel="Warn" maxlevel="Warn" writeTo="ServerWarn" />
		<logger ruleName="ServerError" name="*" minlevel="Error" maxlevel="Error" writeTo="ServerError" />
		<!-- <logger ruleName="ErrorConsole" name="*" minlevel="Warn" maxlevel="Error" writeTo="ErrorConsole" /> -->
	</rules>
</nlog>